<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
  <center>
    <h2>Make your choices for the Perfect Place to Live!</h2>
<%= link_to "Start the Quiz", "/question_sets/1" %>
  </center>
</body>
</html>
