<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
  <center>
    <%# <h2>Make your choices for the Perfect Place to Live!</h2>%>
<div class="start-quiz">
<%= link_to "Find your Home", new_move_path %>
</div>
  </center>
</body>
</html>
