<p id="notice"><%= notice %></p>

<h1>Here are your Best Shots at Happiness!</h1>

<h2 class="move-show">
  <% @move.cities.each do |city| %>
    <%= link_to "#{ city.name }", city%><br />
  <% end %>
</h2>
<%= link_to 'Edit', edit_move_path(@move) %> |
<%= link_to 'Back', moves_path %>
