<div class="row">
  <div class="small-6 small-centered columns">
  <h1>Here are your Best Shots at Happiness!</h1>
  <div class="row">
    <div class="small-6 small-centered columns">
        <h2 class="move-show">
          <% @move.cities.each do |city| %>
            <%= link_to  city.name , city%><br />
          <% end %>
        </h2>
    </div>
  </div>
  </div>
</div>
