// .top-bar
  // background: #C6205F 
    height: 140px
div.nav-header
  position: relative
  left: 60px
  top: 40px

.banner
  color: #fff
  font-size: 2rem

.top-bar-section li:not(.has-form)
  line-height: 60px

.top-bar .name h1
  font-size: 1.5rem

.top-bar .name h1 
  a
    background-color: #c6205f 

div.start-quiz a:hover 
  color: #666 
  background-color: #fff

.top-bar-section li:not(.has-form) a:not(.button):hover 
  background-color: #c6205f 


.top-bar-section li:not(.has-form) a:not(.button)
  padding: 0 15px
  font-size: 1rem
  top: 60px

ul.auth li a

div.contact-us
  position: relative
  top: -46px
  ul li a
    font-size: 32px

div.start-quiz
  position: relative
  top: 200px
  a
    font-size: 82px
div.jet-center
  position: relative
  left: 400px

h2.survey
  padding: 0 0 20px 0
