// .top-bar
  // background: #C6205F 
    height: 140px
div.nav-header
  position: relative
  left: 120px
  top: 40px

.banner
  color: #fff
  font-size: 62px

.top-bar-section li:not(.has-form)
  line-height: 60px

ul.auth li a
  top: 60px
  font-size: 32px

div.contact-us
  position: relative
  top: -46px
  ul li a
    font-size: 32px

div.start-quiz
  position: relative
  top: 200px
  a
    font-size: 82px

